body{
		position: fixed;
		margin:0;
		width:100%;
		height:100%;
		display:grid;
		
	}
.cl_map { 
	    position:fixed;
		width: 100%; 
		height:100%;
		background: #eee;
		border: solid 1px orange; 
        z-index: 1;
	}
nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 3rem;
	height: 5rem;
	z-index: 3;
}
	
 nav .div1{
		display: flex;
		position: relative;
		width: 100%;
		height: 100%;
		background-color: green;
		align-items: top;
		justify-content: center;
		box-shadow: 0 0 1.25rem rgba(black,0.2);
	}
nav .div1 .input1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
 
}	
nav .div1 .input1 span{
  position: relative;
  display: block;
  width: 100%;
  height: 2rem;
  background-color: #34dddd;
}
nav .div1 .input1 span:before, nav .div1 .input1 span:after {
  position: absolute;
  content:' ';
  width: 100%;
  height: 0.5rem;
  background-color: #3498db;
}

nav .div1 .label1 {
		position: fixed;
		top: -42vh;
		left: 3.125rem;
		width: 0%;
		height: 100%;
		margin: 0;
		padding: 0;
		/*overflow: hidden;*/
		
		
		transition: all 0.5s ease;
		z-index: -1;
	}
nav .div1 .label1 a {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 2.5vh;
        margin: 0;
		border-left: 2px solid white;
		border-right: 2px solid white;
        padding: 0.875rem 10rem 0.875rem 1.125rem;
        background-color: rgba(22, 26, 30,0.9);
		color:rgb(0, 255, 127);
		text-decoration: none;
	 }
nav .div1 .label1 #a_top
{
		border-top: 2px solid white;
	
} 
nav .div1 .label1 #a_bottom
{
	border-bottom: 2px solid white;
}	 
nav .div1 #input1{
		display: none;
	}
#input1:checked ~ .label1	
		{
		   top: 0vh; 	
	       left: 3.125rem;
		   transition: all 0.5s ease;
		}
nav .div1 .label1 a:hover{
		background-color: rgba(47, 79, 79,0.9);
		color: white;
	}
			
	
